<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NEWS WEBSITE - NEWS FORMULARY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            font-family: 'Arial', sans-serif;
            color: lime;
            font-size: 10em;
            text-align: center;
            text-shadow: 5px 5px 5px #00CC00;
        }
    </style>
</head>
<body>
    <h1>IT'S ALL ABOUT NEWS FORM</h1>

    <FORM action="/article/save" method="post">
        <label> Article title</label>
        <input type="text" id="title" name="title" placeholder="Insert article title here" >
        <br>
        <label>Article content</label>
        <textarea id="content" name="content" rows="5" cols="30"></textarea>
        <br>
        <input type="submit" value="Submit">
    </FORM>
    
</body>
</html>