<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NEWS WEBSITE - INDEX.EJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            font-family: 'Arial', sans-serif;
            color: aquamarine;
            font-size: 10em;
            text-align: center;
            text-shadow: 5px 5px 5px #FFCC00;
        }
    </style>
</head>
<body>
    <h1>IT'S ALL the INDEX.EJS BABY</h1>
    
</body>
</html>