<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NEWS WEBSITE - Politics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            font-family: 'Arial', sans-serif;
            color: pink;
            font-size: 10em;
            text-align: center;
            text-shadow: 5px 5px 5px #00CC00;
        }
        table, th, td, tr {
            border: 2px Solid #000;
        }
    </style>
</head>
<body>
    <h1>IT'S ALL ABOUT JUST ONE ARTICLE AT A TIME </h1>

    <table>
        <tr>
            <th>Headline</th>
            <th>Article content</th>
            <th>Timestamp</th>
        </tr>


        <%  %>    
        <tr>
            <td><%= piecevar[0].title %></td>
            <td><%= piecevar[0].content %></td>
            <td><%= piecevar[0].pub_date %></td>
        </tr>


    </table>
    
</body>
</html>